.findme *{
	border-bottom: none !important;
	box-shadow: none !important;
	text-decoration: none !important;
}

.findme a{
	font-size: 2em;
	color: var(--dark-theme);
}

.findme a>i {
	margin: 0/*up*/ 0.3em/*right*/ 0.2em/*down*/ 0.3em /*left*/;
}

.findme a:hover {
	color: var(--theme);
}
