<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
<head>
{{ partial "head.html" . }}
</head>
<body>
<header class="header">
{{ partial "header.html" . }}
</header>
{{ block "main" . }}
<!-- The part of the page that begins to differ between templates -->
{{ end }}
<footer class="footer">
{{ partial "footer" . }}
</footer>
{{ partial "footer_clumsy-update" . }}
{{ partial "footer_highlightjs" . }}
{{ partial "footer_mathjax" . }}
{{ template "_internal/google_analytics.html" . }}
</body>
</html>
